[submodule "mqtt-sn-tools"]
	path = mqtt-sn-tools
	url = https://github.com/njh/mqtt-sn-tools.git
[submodule "org.eclipse.mosquitto.rsmb"]
	path = org.eclipse.mosquitto.rsmb
	url = https://github.com/MichalFoksa/rsmb.git
